<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylessheet.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="nav">
            <a href="home" class="btn">Home</a>
            <a href="#" class="btn">About</a>
            <a href="works" class="btn">Works</a>
            
            
          </nav>
        <div class="title">
            <h2>About</h2>
        </div>
        <div class="parrafo">
           <p>Vasily Vasílievich Kandinsky (en ruso: Василий Васильевич Кандинский) (Moscú, 4 de diciembrejul./ 16 de diciembre de 1866greg.-Neuilly-sur-Seine, 13 de diciembre de 1944) fue un pintor ruso que también teorizó sobre arte. Se le ha considerado erróneamente el precursor del arte abstracto en pintura. Se consideró durante muchos años que con él comienzan la abstracción lírica y el expresionismo. Sin embargo, se ha demostrado que artistas como Hilma af Klint y Georgiana Houghton, entre otras, ya realizaron pinturas abstractas a finales del siglo XIX y principios del XX. ​</p>

           <p> Pasó su niñez en Odessa, donde se graduó en la Escuela de Arte Grekov Odessa. Se matriculó en la Universidad Estatal de Moscú, donde estudió derecho y economía, tras lo cual empezó a ejercer con éxito su profesión e incluso le ofrecieron un puesto de profesor de derecho romano en la Universidad de Dorpat. Sin embargo, decidió comenzar a estudiar pintura cuando tenía 30 años.</p>
            
           
        </div>
    </div>
</body>
</html>