<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylessheet.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="nav">
            <a href="home" class="btn">Home</a>
            <a href="about" class="btn">About</a>
            <a href="#" class="btn">Works</a>
            
            
          </nav>
        <div class="title">
            <h2 style="padding-bottom: 25px;">Works</h2>
        </div>
        <div class="box">
            <div class="cuadros"><img width="250" src="image_01.PNG" alt=""><p>
               <span style="font-weight: 700;"> Título (inglés):</span> Composition VIII<br />
               <span style="font-weight: 700;">Estilo:</span> Abstracción lírica<br />
               <span style="font-weight: 700;">Tipo:</span> Cuadro<br />
                
               <span style="font-weight: 700;">Soporte:</span> Tela<br />
               <span style="font-weight: 700;">Año:</span> 1923</p></div>
            <div class="cuadros"><img width="250" height="174" src="image_02.PNG" alt=""><p>
                <span style="font-weight: 700;">Título (inglés):</span> Yellow-Red-Blue<br />
                <span style="font-weight: 700;">Estilo:</span> Abstracción lírica<br />
                <span style="font-weight: 700;">Tipo:</span> Cuadro<br />
                
                <span style="font-weight: 700;">Soporte:</span> Lienzo<br />
                <span style="font-weight: 700;">Año:</span> 1925</p></div>
            <div class="cuadros"><img width="250" height="174" src="image_03.PNG" alt=""><p>
                
                <span style="font-weight: 700;">Título (inglés):</span> Black and Violet<br />
                <span style="font-weight: 700;">Estilo:</span> Abstracción lírica<br />
                <span style="font-weight: 700;">Tipo:</span> Cuadro<br />
                
                <span style="font-weight: 700;">Soporte:</span> Lienzo<br />
                <span style="font-weight: 700;">Año:</span> 1923</p></div>
            <div class="cuadros"><img width="250" src="image_04.PNG" alt=""><p>
                
                <span style="font-weight: 700;">Título (inglés):</span> Blue Sky<br />
                <span style="font-weight: 700;"> Estilo:</span> Abstracción lírica<br />
                <span style="font-weight: 700;">Tipo:</span> Cuadro<br />
                
                <span style="font-weight: 700;">Soporte:</span> Lienzo<br />
                <span style="font-weight: 700;">Año:</span> 1940</p></div>
        </div>
          </div>
    </div>
</body>
</html>